<footer class="footer footer-dark">
  <section class="footer-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-6 sm-m-15px-tb">
          <h4 class="font-alt">About</h4>
          <ul class="fot-link">
            <li>
              <a [routerLink]="['/mmg']">Home</a>
            </li>
            <li>
              <a [routerLink]="['/aboutUsDetail']">About us</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6 sm-m-15px-tb">
          <h4 class="font-alt">Legal</h4>
          <ul class="fot-link">
            <li>
              <a [routerLink]="['/policy']">Privacy Policy</a>
            </li>
            <li>
              <a [routerLink]="['/disclaimer']">Disclaimer</a>
            </li>
            <li>
              <a [routerLink]="['/faqs']">FAQs</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 sm-m-15px-tb md-m-30px-b">
          <h4 class="font-alt">Contact</h4>
          <p class="footer-text cursor-pointer">
            <i class="fas fa-map-marker fa-fw m-5px-r"></i><a class="text-footer" href="https://goo.gl/maps/4DHhfHTCVMxNZrb99"
              target="_blank">Move My Goods, Mysuru,Karnataka,India</a>
          </p>
          <p class="footer-text cursor-pointer">
            <i class="fas fa-phone fa-fw m-5px-r rotate-icon"></i><a class="text-footer" href="tel:901 902 903 7">901 902 903 7</a></p>
          <p class="footer-text cursor-pointer">
          <i class="fas fa-envelope fa-fw m-5px-r"></i><a class="text-footer" href="mailto:info@arohaka.com?Subject=Enquiry%20again">movemygoods@arohaka.com</a></p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 sm-m-15px-tb">
          <h4 class="font-alt">Follow us</h4>
          <div class="">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="https://www.facebook.com/movemygoods.in" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a class="twitter" href="https://twitter.com/Move_My_Goods" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a class="social-instagram" href="https://www.instagram.com/move_my_goods/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="linkedin" href="https://www.linkedin.com/company/move-my-goods" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="footer-copy">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 px-0">
              <p>&copy; <a class="text-white" target="_blank" href="http://www.arohaka.com/">Copyrights 2019. All Rights
                Reserved by Arohaka</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>