<!-- <div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchises</span><span class="float-right font-weight-bold" *ngIf="franchiseCount">{{franchiseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFracnhisedashboard']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet Operators</span><span class="float-right font-weight-bold" *ngIf="fleetCount">{{fleetCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFleetdashboard']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Warehouses</span><span class="float-right font-weight-bold" *ngIf="warehouseCount">{{warehouseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationWarehousedashboard']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Total Enquiry Requests</span><span class="float-right font-weight-bold" *ngIf="totalenquiryCount">{{totalenquiryCount.total}}</span></div>
                    <div class="card-body text-center cursor-pointer" [routerLink]="['/operationEnquirydashboard']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                     </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Bookings</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-dolly color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Customers</span><span class="float-right font-weight-bold" *ngIf="customerCount">{{customerCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationCustomer']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Bidding</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoDriverList']">
                    <h1><i class="fas fa-chart-bar color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
</div>> -->


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet
                        </span><span class="float-right font-weight-bold">{{boardingCount.fleet}}</span></div>
                <a [routerLink]="['/operationTeamFleetDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-building color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Warehouse
                    </span><span class="float-right font-weight-bold">{{boardingCount.warehouse}}</span>
                </div>
                <a [routerLink]="['/operationTeamWarehouseDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchise</span><span
                        class="float-right font-weight-bold">{{boardingCount.franchise}}</span>
                </div>
                <a [routerLink]="['/operationTeamFranchiseDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-city color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Driver
                    </span><span class="float-right font-weight-bold">{{driverCount}}</span></div>
                <a [routerLink]="['/operationTeamEnquiryDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-users color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Labour
                    </span><span class="float-right font-weight-bold">{{labourCount}}</span></div>
                <a [routerLink]="['/operationTeamEnquiryDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-users color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Vehicle
                    </span><span class="float-right font-weight-bold">{{vehicleCount}}</span></div>
                <a [routerLink]="['/operationTeamEnquiryDashboard']">
                    <div class="card-body text-center">
                        <!-- <h1><i class="fas fa-users color-accent fa-2x"></i></h1> -->
                        <h1><i class="fas fa-truck color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Enterprise</span><span
                        class="float-right font-weight-bold">{{boardingCount.enterprise}}</span>
                </div>
                <a [routerLink]="['/operationTeamFranchiseDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-city color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Enquiry Request
                    </span><span class="float-right font-weight-bold"
                        *ngIf="onboardingCount">{{onboardingCount.total}}</span></div>
                <a [routerLink]="['/operationTeamEnquiryDashboard']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-users color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Entreprenuers
                    </span><span class="float-right font-weight-bold"
                        *ngIf="enterpriseCount">{{enterpriseCount.total}}</span></div>
                <a [routerLink]="['/operationalTeamEnterprise']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-users color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Customers
                    </span><span class="float-right font-weight-bold"
                        *ngIf="customerCount">{{customerCount.totalCustomer}}</span>
                </div>
                <a [routerLink]="['/operationTeamCustomerList']">
                    <div class="card-body text-center">
                        <h1><i class="fas fa-users color-accent fa-2x"></i></h1>
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</div>