 <div class="align">
    <!-- <h2 mat-dialog-title>{{title}}</h2> -->
    <mat-dialog-content class="align">
  <p>Are you sure you want to </p>
    </mat-dialog-content>
    <!-- <mat-dialog-actions class="pull-right">
         <button mat-raised-button color="accent" (click)="ActiveOrDeativate()">
           Active
        </button> 
        <div class="item form-group mt-2 text-center">
            <div><button mat-raised-button (click)="ActiveOrDeativate()">{{title}}</button></div>
             <div *ngIf="button==false"><button mat-raised-button  [disabled]="companyForm.invalid"  style="background-color:#7ee8fa;color: #000;"  (click)="submit()">Deactivate</button></div>
          </div>
        &nbsp;&nbsp;
        <button mat-raised-button class="color-button-close text-white" (click)="close()">
            Close
        </button>&nbsp;
    </mat-dialog-actions> -->
    <mat-dialog-actions class="pull-right">
        <!-- <div class="item form-group mt-2 text-center"> -->
        <div *ngIf="button==true"><button mat-raised-button style="background-color:#e83e8c; margin-right:10px;"  (click)="ActiveOrDeativate()">Active</button></div>
        <div *ngIf="button==false"><button mat-raised-button style="background-color:#e83e8c;margin-right:10px;"  (click)="ActiveOrDeativate()">Deactivate</button></div>
      <!-- </div> -->
      <button mat-raised-button class="color-button-close text-white" (click)="close()">
          Close
      </button>
    </mat-dialog-actions>
</div>  
