<!-- 
<input type="text" #u1><br/>
<input type="password" #p2><br/>
<button (click)="check(u1.value,p2.value)"> Login</button>
<br/>
<span>{{msg}}</span> -->
<form [formGroup]="loginForm"> 
           
            <mat-form-field class="example-full-width">
                <label>UserName</label>
              <input matInput required name="userName"  class="form-control" formControlName="userName">
               </mat-form-field>
    <br/>
            <mat-form-field class="example-full-width">
                <label>Password</label>
              <input matInput required name="password"  class="form-control" formControlName="password">
               </mat-form-field>

            </form>
 <div><button mat-raised-button style="margin-right:10px;background-color:#e83e8c;"  (click)="login()">Login</button></div>
      
            <span>{{msg}}</span>
<!-- <div fxLayoutAlign="center center" fxflexfill class="main-div">
    <mat-card fxflex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form  fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field appearance="fill">
              <mat-label>Login</mat-label>
              <input matInput placeholder="User Name" #userName>
            </mat-form-field>
            <br>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="password" #password>
                </mat-form-field>
             <button mat-raised-button type="submit" (click)="click(userName,password)">Login</button>
    
                </form>
                <span>{{msg}}</span>
    </mat-card>
    </div> -->
