/* .mat-form-field {
    display: block;
}

.create-update-modal-size {
    min-height:400px;
    min-width:400px;
    margin:20%;
} 


.login-modal-size {
    min-height:80%;
    min-width:70%px;
} */
/* .row{
    flex-direction: row;
} */
/* mat-dialog-content{
    height: auto;
    width: 800px;
} */
 /* .mat-form-field {
    width: 400px;
    padding: 10px;
    margin:5px 60px;
} */
/* input,select{
    border:solid 2px skyblue;
} */
/* button{
    margin:5px;
} */
/* .example-form {
    min-width: 78%;
    max-width: 83%;
   
  } */
  .example-full-width {
    width: 31%;
    margin-left:10px;
    margin-right:10px;
  }
  /* .example-card {
    max-width: 2000px;
   
  } */
  /* .button-color{
      background-color:#B3205B;
  } */

  mat-dialog-content{
    width: 1000px;
    
    margin-bottom:5px;
  }
  /* select{
      /* margin-top:20px;
      padding-top:20%; 
      width: 31%;
      margin-left:10px;
      margin-right:10px;
  } */