<div >
    <h2 mat-dialog-title  style="text-align: center;">{{title}}</h2>
    <mat-dialog-content >
         <form [formGroup]="companyForm"> 
           
            <mat-form-field class="example-full-width">
                <label>Company Name</label>
              <input matInput required name="companyName"  class="form-control" formControlName="companyName">
              <mat-error *ngIf="hasError('companyName', 'required')">Company Name Required</mat-error>
              <mat-error *ngIf="hasError('companyName', 'pattern')">please Provide a proper Company Name, Name should be in alphabet!</mat-error>
               </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <label>Email</label>
              <input matInput required name="emailId"  class="form-control" formControlName="emailId">
              <mat-error *ngIf="hasError('emailId', 'required')">emailId required</mat-error> 
              <mat-error *ngIf="hasError('emailId','pattern')">Enter email corrrectly</mat-error>
            </mat-form-field>
      
       
            <mat-form-field class="example-full-width">
                <label>Established</label>
              <input matInput required name="established" class="form-control" formControlName="established">
              <mat-error *ngIf="hasError('established', 'required')">established required</mat-error>
              <mat-error *ngIf="hasError('established','pattern')">Enter Established corrrectly</mat-error>
            </mat-form-field>
    
          
            <mat-form-field class="example-full-width">
                <label>MD Name</label>
              <input matInput required name="mdName" class="form-control" formControlName="mdName">
              <mat-error *ngIf="hasError('mdName', 'required')">mdName required</mat-error>
              <mat-error *ngIf="hasError('mdName', 'minLength')"> Name must be at least characters long</mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <label>Mobile Number</label>
              <input matInput required name="mobileNumber"  class="form-control" formControlName="mobileNumber">
              <mat-error *ngIf="hasError('mobileNumber', 'required')">mobileNumber required</mat-error>
              <mat-error *ngIf="hasError('mobileNumber','pattern')">Enter phone number corrrectly</mat-error>
            </mat-form-field>
         
            <mat-form-field class="example-full-width" >
              <mat-label>Company Type</mat-label>
              <mat-select required name="companyType"  class="form-control" formControlName="companyType">
                <mat-option  *ngFor="let companyType of companyTypes" [value]="companyType.val">
                  {{companyType.val}} 
                </mat-option>
              </mat-select>
          </mat-form-field>
        
          <!-- <mat-form-field class="example-full-width" style="margin-top:4px">
            <mat-label>Company Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let companyType of companyTypes" [value]="companyType.val">
                {{companyType.val}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        
            <mat-form-field class="example-full-width">
                <label>PAN Number</label>
              <input matInput required name="panNumber"  class="form-control" formControlName="panNumber">
              <mat-error *ngIf="hasError('panNumber', 'required')">panNumber required</mat-error>
              <mat-error *ngIf="hasError('panNumber','pattern')">Enter PAN number corrrectly</mat-error>
            </mat-form-field>
           
            <mat-form-field class="example-full-width">
                <label>GST Number</label>
              <input matInput required name="gstNumber"  class="form-control" formControlName="gstNumber">
              <mat-error *ngIf="hasError('gstNumber', 'required')">gstNumber required</mat-error>
              <mat-error *ngIf="hasError('gstNumber','pattern')">Enter GST number corrrectly</mat-error>
            </mat-form-field>
            
          
            <mat-form-field class="example-full-width">
                <label>WebSite</label>
              <input matInput required name="webSite"  class="form-control" formControlName="webSite">
              <mat-error *ngIf="hasError('webSite', 'required')">webSite required</mat-error>
              <mat-error *ngIf="hasError('webSite','pattern')">Enter webSite corrrectly</mat-error>
            </mat-form-field>
           
           </form> 
    </mat-dialog-content>
    <mat-dialog-actions class="pull-right">
        <!-- <div class="item form-group mt-2 text-center"> -->
        <div *ngIf="button==true"><button mat-raised-button style="margin-right:10px;background-color:#e83e8c;"  (click)="update()">Update</button></div>
        <div *ngIf="button==false"><button mat-raised-button style="margin-right:10px;background-color:#B3205B;color: #000;"  (click)="submit()">Submit</button></div>
      <!-- </div> -->
        <button mat-raised-button class="color-button-close text-white" (click)="close()">
        Close
        </button>&nbsp;
    </mat-dialog-actions>  
</div> 





