<div class="center-padding mt-4">
  <h1 class="text-center mt-2" mat-dialog-title>You can reset your Password Here</h1>
  <hr class="seperator">
  <div>
    <form [formGroup]="forgotPasswordForm">
      <div class="row no-gutters">
        <div class="col-4 mr-2">
        </div>
        <div class="col-4 mr-2">
          <mat-form-field class="mat-display-block">
            <input matInput type="password" class="form-control" name="password" formControlName="password" placeholder="Enter your New Password *">
            <mat-error *ngIf="hasError('password', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
            <mat-error *ngIf="hasError('password', 'minlength')">{{errorMsgs.PASSWORD}}</mat-error>
            <mat-error *ngIf="hasError('password', 'maxlength')">{{errorMsgs.MAX_LENGTH}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-4 mr-2">
        </div>
        <div class="col-4 mr-2">
          <mat-form-field class="mat-display-block">
            <input matInput type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"
              placeholder="Confirm Password">
            <mat-error *ngIf="hasError('confirmPassword', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
            <mat-error *ngIf="hasError('confirmPassword', 'minlength')">{{errorMsgs.PASSWORD}}</mat-error>
            <mat-error *ngIf="hasError('confirmPassword', 'maxlength')">{{errorMsgs.MAX_LENGTH}}</mat-error>
            <mat-error *ngIf="hasError('confirmPassword', 'equalsTo')">{{errorMsgs.MISMATCH}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="item form-group mt-2 text-center">
          <button mat-raised-button color="accent" [disabled]="forgotPasswordForm.invalid" (click)="changePassword()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>