
/* registration-full-width{
    width: 400px;
    margin:20px 80px ;
    padding: 10px 100px;
} */
/* mat-form-field{
    margin: 8px 40px;
    width: 400px;
} */
.submit{
    background-color:rgba(189, 15, 38, 0.623);
    margin:0px 20px;
    padding:4px 50px;
 }
 /* mat-table{
     width:90%;
     margin-top:30px;
     margin-left:auto;
     margin-right:auto;
 } */
 /* tw-email{
     margin-right:20px;
 } */
 /* mat-radio-button{
     margin-left:auto ;
     margin-right: auto;
 } */

 /* .create{

 } */
 /* .grid{
   display:grid;
   grid-template-columns: 1fr 3fr;
 } */
 mat-radio-group{
     margin-top:1.5%;
     margin-bottom: auto;
 }
/* mat-header-cell{
    margin: 0px 0px 0px 2px;
    padding:0px 0px 0px 0px;
}

/* mat-header-cell{
    padding:0px 0px 0px 20px;
} */
/* mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 5px;
}
.container{
    width:80%;
}  */
.tw{
    margin-left: 2%;
    margin-right: 2%;
}
table{
    width:100%
}
.actionbut{
    width:60%;
}
mat-cell{
    display:flex;
    overflow-wrap: anywhere;
 }