<div class="tw mt-4" style="width: 96%;">
  <h1 class="text-center" mat-dialog-title>Company Information</h1>
  <hr class="seperator">
  <div class="ml-4">

    <button mat-raised-button color="accent" class="create" (click)="addCompany()">Add Company</button>
    &nbsp;
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button name="status" (click)="reload()">All</mat-radio-button>
      &nbsp;
      <mat-radio-button value="true" name="status" (click)="ActiveOrDeativate(true)">Active</mat-radio-button>
      &nbsp;
      <mat-radio-button value="false" name="status" (click)="ActiveOrDeativate(false)">Deactivate</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="search" style="margin-left: 65%;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
    </mat-form-field>

  </div>
<div *ngIf="companyService.isLoading | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
  <!-- <input
  type="text" placeholder="search"
  (keyup)="search($event.target.value)"/> -->


  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="registration" matSort>

      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
        <mat-cell style="display:flex;overflow-wrap: anywhere;" *matCellDef="let element" data-label="companyName"
          class="cursor-pointer"> {{element.companyName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="companyType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Company Type </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="companyType">
          <p>{{element.companyType}}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="mobileNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mdName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> MD Name </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="mdName"> {{element.mdName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="established">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Established </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="established"> {{element.established}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="panNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pan Number </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="panNumber"> {{element.panNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gstNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>GST Number </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="gstNumber"> {{element.gstNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="webSite">
        <mat-header-cell *matHeaderCellDef mat-sort-header> WebSite </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="webSite"> {{element.webSite}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email Id </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="emailId"> {{element.emailId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-40"> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="action">
          &nbsp; &nbsp;
          <mat-slide-toggle [checked]="element.isActive"
            (click)="patchCompany(element.isActive,element.uuId,element.companyName)"></mat-slide-toggle>

          <div *ngIf="isHide" class="cursor-pointer" matTooltip="Modify / Cancel ">
            &nbsp;/&nbsp;
            <i class="fa fa-edit color-accent fasize" (click)="update(element.uuId,element.companyName)"></i>
            &nbsp;/&nbsp;
            <i class="fa fa-trash color-maroon fasize" (click)="deleteCompany(element.uuId,element.companyName)"></i>
            &nbsp;&nbsp;

          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </table>



    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>























<!-- <form [formGroup]="companyForm"> 
      <mat-form-field class="example-full-width" >
        <mat-label>Pagination</mat-label>
        <mat-select required name="paginationSize"  class="form-control" formControlName="paginationSize">
          <mat-option  *ngFor="let paginationSize of paginationSizes" [value]="paginationSize.val" (click)="paginations(paginationSize.val)">
            {{paginationSize.val}} 
          </mat-option>
        </mat-select>
    </mat-form-field>
    <button (click)="previousPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
    </form> -->