.header-font-override
{
    color: white!important;
}
/* Change color of dropdown links on hover */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:black;
}
.menu-collapse
{
    font-size:30px;color:white;
}
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px
}

.notif {
    color: white;
}

.num {
    position: absolute;
    color: #fff;
}

.nav-bottom .nav-item.active{
    color:#df1665;
    font-weight:700;
    border-bottom:2px solid #df1665;
}