<section id="privacy-policy" class="section">
  <div class="container">
    <h1 class="text-center" mat-dialog-title>PRIVACY POLICY</h1>
    <hr class="seperator">

    <div class="row align-items-center">
      <p class="align-justify">
        Arohaka Technologies Pvt Ltd (“MMG”, “We”, “Us”, “Our”) recognises the importance of maintaining Your privacy.
        We value and appreciate the trust reposed in us by our users (“User”, “You”, “Your”). This Privacy Policy
        (“Policy”) describes how we treat Your information shared by You while registering and/or using our website
        www.movemygoods.in and/or mobile application (“MMG Customer App/MMG Driver”). By visiting and/or using our
        Site, you acknowledge and agree that we may collect, use and disclose Your information in accordance with this
        Policy and agree to be bound by the terms and conditions of this Policy.
      </p>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">1.0. SCOPE</h5>
        <p class="align-justify">This Privacy Policy applies to all non-public, online and offline, collected, stored,
          processed, transferred and used Personal Data of MMG customers, vendors, employees, agents, contractors and
          others who share their Personal Data with us. A copy of this Privacy Policy is located on MMG website at
          www.movemygoods.in</p>
      </div>
      <div>
        <div>
          <h5 class="dark-color theme-after font-weight-bold align-justify">2.0. INFORMATION WE COLLECT</h5>
          <p class="align-justify">We may collect the following information from You:</p>
        </div>
        <div>
          <h6 class="dark-color theme-after font-weight-bold align-justify">2.1. PERSONAL INFORMATION:</h6>
          <p class="align-justify">We may collect certain personal information including Your name, gender, address,
            email ID, mobile number, and DoB.</p>
        </div>
        <div>
          <h6 class="dark-color theme-after font-weight-bold align-justify">2.2. SERVICE-RELATED INFORMATION:</h6>
          <p class="align-justify">We may collect details regarding Your usage of our services, including but not
            limited to, the type of service requested, the time when the service was provided, the amount charged and
            distance covered.</p>
        </div>
        <div>
          <h6 class="dark-color theme-after font-weight-bold align-justify">2.3. USAGE INFORMATION:</h6>
          <p class="align-justify">We may collect information relating to Your usage of, and interaction with, our
            services including but not limited to location data, web logs, IP address and browser information.</p>
        </div>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">3.0. SENSITIVE INFORMATION</h5>
        <p class="align-justify">3.1. While recognizing that all Personal Data deserves to be protected, MMG
          incorporates special precautions and safeguards for any Sensitive Personal Data we may collect. Sensitive
          Personal Data includes Personal Data specifying medical or health data, racial or ethnic origin, political
          opinions, religious or philosophical beliefs, trade union membership or information specifying details of a
          conviction or criminal offense.</p>
        <p class="align-justify">3.2. MMG does not collect Sensitive Personal Data regarding its customers or vendors,
          unless it is required or authorized by law, or unless the customer or vendor has provided its express
          consent. However, when necessary to support its relationship with its employees, or when required by local
          law, MMG may collect “Sensitive Personal Data” regarding its employees.</p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">4.0. NOTICE</h5>
        <div>
          <p class="align-justify">4.1. MMG makes available a specific detailed “Privacy Notice” to its customers,
            vendors and employees describing what Personal Data we may collect, how we use it, when it may be shared
            with
            others, choices of what Personal Data an individual may provide, and how we safeguard its confidentiality.
            Where a legal requirement exists, we will request consent from individuals to the collection and use of
            that
            information as set forth in the Privacy Notice.
          </p>
          <p class="align-justify">
            4.2. We collect Personal Data that is knowingly and voluntarily provided to us related to the following:
          </p>
        </div>
        <div>
          <h6 class="dark-color theme-after font-weight-bold align-justify">CUSTOMER:</h6>
          <p class="align-justify">MMG collects and processes Personal Data about our customers in order to efficiently
            provide the services necessary to support an entire supply chain solution, and other services that involve
            the transport and storage of goods more generally. In addition, we may use collected customer Personal Data
            in order to correspond with customers Personal Data regarding possible new or enhanced business
            opportunities. Also, we will save card details for payments whenever necessary taking consent from
            Customer/Driver for payment.</p>
        </div>
        <div>
          <h6 class="dark-color theme-after font-weight-bold align-justify">VENDOR:</h6>
          <p class="align-justify">MMG collects and processes Personal Data about any vendor we retain in order to
            ensure that we are able to contact our vendors when necessary, and to ensure that MMGs standards of
            service/care are met.</p>
        </div>
        <div>
          <h6 class="dark-color theme-after font-weight-bold align-justify">EMPLOYEE:</h6>
          <p class="align-justify">MMG collects and processes Personal Data about its employees to carry out human
            resources management and to provide benefits for employees.</p>
        </div>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">5.0. USE OF INFORMATION</h5>
        <p class="align-justify">5.1. We may use the information collected from You for the following purposes only:</p>
        <p class="align-justify">5.1.1. to enable and facilitate Your use of our Site and for the provision of
          services, as may have been requested by You</p>
        <p class="align-justify">5.1.2. to provide You with information about Our services including but not limited to
          any materials and offers in respect of the same</p>
        <p class="align-justify">5.1.3. to inform You in respect of any changes to Our terms and conditions and/or any
          other policies;</p>
        <p class="align-justify">5.1.4. to customize and personalize Your experience on, and interaction with, Our Site
          and provide You with relevant marketing, advertising, promotional and other communication</p>
        <p class="align-justify">5.1.5. to improve our Site and services including for effective security and
          administration purposes.</p>
        <p class="align-justify">5.2. We may also automatically collect certain anonymous information about Your usage
          of, and activities on, the Site by way of cookies, web beacons, web analytics or other similar technology.
          This anonymised information may be used for customising Your experience on Our Site based on Your usage and
          preferences, providing You with personalized services by remembering Your choices and help improve Our Site
          and services by analysing web traffic and usage related data.</p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">6.0. DATA RETENTION</h5>
        <p class="align-justify">6.1. MMG retains Personal Data we collect for reasonable periods of time, in
          accordance with specific policies or as required by law. Personal Data collected for a specified purpose will
          only be used for that purpose and, unless that information is otherwise required to be retained, after a
          reasonable period of time, the Personal Data will no longer be actively stored when that purpose has been
          fulfilled.</p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">7.0. DISCLOSURE OF INFORMATION</h5>
        <p class="align-justify">7.1. By using Our Site, You agree and authorize us to collect, transfer, use, store
          and disclose Your information in accordance with the terms of this Policy, including the transfer of Your
          information outside Your country of residence. We may disclose Your information to Our employees,
          consultants, affiliates, business partners, associates, subsidiaries, investors, and such other persons with
          whom We may be required to share any such information under applicable law.
        </p>
        <p class="align-justify">
          7.2. We may share Your information with the relevant carriers/third parties in order to facilitate provision
          of their service to You or for such other person, as may have been requested or authorised by You. We may
          also share Your information with other third parties where You may have expressed an interest in receiving
          information about their services.
        </p>
        <p class="align-justify">
          7.3. We may disclose any information collected from You, as may be necessary, to comply with any direction
          received from any competent statutory authority or as may be required to be disclosed under applicable law.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">8.0. COOKIES AND PIXEL TECHNOLOGIES</h5>
        <p class="align-justify">8.1. Cookies are small text files that a website can send to a user's browser for
          storage on the hard drive. Cookies can make use of the Web easier by saving status and preferences about a
          website.
        </p>
        <p class="align-justify">
          8.2. We use cookies to collect information about a visitor's use of the website and to facilitate return
          visits. Cookies on the site may collect the following information: a unique identifier, user preferences and
          profile. The information collected from cookies is tracked to improve the functionality of the website by
          facilitating navigation, and increasing the relevance of content. In the future, as we enable further
          customization of the website, cookies will help in assuring that information provided to You will be the most
          relevant to Your needs.
        </p>
        <p class="align-justify">
          8.3. While we do not offer an opt-out on the website for cookies, Your browser provides You with information
          and control over cookies. You can set Your Web browser to alert You when a cookie is being used, get
          information on the duration of the cookie, and learn to which server Your information is being returned. To
          learn more about cookies and browser functionality relating to cookies please search for "cookies" in the
          help function of Your browser.
        </p>
        <p class="align-justify">
          8.4. We may also use embedded pixel technologies to help track site usage. The site usage information
          collected by these technologies is associated with cookies and may provide personally identifiable
          information about site use by registered users of www.instavans.com. This information is used to evaluate
          site content, navigability and composition as well as page response rates.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">9.0. SECURITY</h5>
        <p class="align-justify">
          9.1. The security, integrity and privacy of Your information is of paramount importance to Us and we adopt
          adequate measures to protect Your information against unauthorized access, unauthorized alteration,
          disclosure or destruction.
        </p>
        <p class="align-justify">
          9.2. We shall not, however, be liable for any breach of security or for any actions of any third parties that
          receive Your information.
        </p>
        <p class="align-justify">
          9.3. We shall not, in any event whatsoever, be liable for any loss, damage or misuse of Your information, if
          such loss, damage or misuse is attributable to any event that is beyond Our reasonable control including
          without limitation, any act of God, sabotage, fire, flood, explosion, strikes, riots, government policies,
          computer crashes , hacking or other breach of security.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">10.0. LINKS TO OTHER WEBSITES</h5>
        <p class="align-justify">10.1. Our Site may contain links to other third-party websites. We are not, in any
          way, related to or otherwise associated with such third-party websites and do not guarantee or otherwise
          endorse any content and/or security of such websites. Such third-party websites are not governed by this
          Policy and may have their own terms of use and privacy policies. You should ensure that You have read and
          understood their privacy policy before providing any information or other data.</p>
        <p class="align-justify">10.2. In no event shall We be liable for any loss, damage, claim or expense caused as
          a result of accessing these third-party websites and/or any of their features.</p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">11.0. COMMUNICATIONS</h5>
        <p class="align-justify">
          11.1. You hereby expressly consent to receive communications from Us and/or third parties authorised by You
          through Your registered phone number and e-mail ID. You agree that any communication so received by You from
          Us and/or any third parties authorised by You will not amount to spam, unsolicited communication or a
          violation of Your registration, if any, on the national do not call registry.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">12.0. AMENDMENTS & REVISIONS</h5>
        <p class="align-justify">
          12.1. We reserve the sole right to update, modify, amend or otherwise vary any terms of this Policy, as we
          may deem necessary, from time to time and without any prior notice to You.
        </p>
        <p class="align-justify">
          12.2. Unless otherwise specified, any such revisions to the Policy shall be effective immediately upon
          posting of the same on Our Site. By Your continued access of Our Site, You shall be deemed to have read,
          agreed and accepted to be bound by such revised Policy. If You do not agree to the revised Policy, You should
          immediately discontinue Your use and access of Our Site. We urge You to please go through the Policy from
          time to time to stay informed about any updates/revisions that may have been made to the Policy.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">13.0. GRIEVANCE REDRESSAL</h5>
        <p class="align-justify">
          If You have any concern, question, suggestions, grievance or complaints in relation to the Site, any content
          or services, or this Policy, we request You to please contact Us at HelpCenter@MMG.com
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">14.0. GOVERNING LAW</h5>
        <p class="align-justify">
          This Policy shall be governed by and construed in accordance with the laws of India. Any disputes arising in
          relation to this Policy shall be subject to the exclusive jurisdiction of the competent courts at Bangalore,
          Karnataka.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">15.0. SOCIALMEDIA</h5>
        <p class="align-justify">
          On our website and in accordance with GDPR we are using social-media-plug-ins (like Facebook, Google+,
          Twitter, Instagram, LinkedIn etc.) in order to promote our brand, products and services and to get in touch
          with our customers. Therefore, these advertising purposes are regarded as carried out for a legitimate
          interest. It is the responsibility of the respective social-media provider to be in line with all applicable
          laws and regulations.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">16.0. DATA SHARE</h5>
        <p class="align-justify">
          MMG does not share, sell, transfer or otherwise disseminate your personal data to third parties and will not
          do so in future, unless required by law, unless required for the purpose of the contract or unless you have
          given explicit consent to do so. For instance, it may be necessary to pass on your address and order data to
          our contractors when you order products. Further information on data protection in specific services and
          products is available at the relevant Customer Portal.
        </p>
        <p class="align-justify">
          External service providers that process data on our behalf are contractually obliged to maintain strict
          confidentiality as per GDPR. MMG retains responsibility for safeguarding your information in such
          circumstances. The service providers follow the instructions of MMG, and this is guaranteed by technical and
          organizational measures, as well as by means of checks and controls.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">17.0. SECURITY</h5>
        <p class="align-justify">
          MMG takes all of the necessary technical and organizational security measures to protect your personal data
          from being lost or misused. For instance, your data is saved in a secure operating environment which is not
          accessible to the public. In certain cases, your personal data is encrypted by Secure Socket Layer technology
          (SSL) during transmission. This means that an approved encryption procedure is used for communication between
          your computer and the MMG servers if your browser supports SSL. Should you wish to contact MMG by e-mail, we
          would like to point out that the confidentiality of the information sent cannot be guaranteed. The contents
          of e-mail messages can be read by third parties. We therefore recommend you send us confidential information
          only by post.
        </p>
      </div>
      <div>
        <h5 class="dark-color theme-after font-weight-bold align-justify">18.0. CHANGES TO PRIVACY NOTICE</h5>
        <p class="align-justify">
          MMG reserves the right to change its Privacy Notice at any time with or without prior notice. Please check
          back frequently to be informed of any changes. By using MMG website you agree to this Privacy Notice.
        </p>
      </div>
      <div class="mt-2">
        <p class="align-justify">This statement was last updated on 02 Nov 2019.</p>
      </div>
    </div>
  </div>
</section>