<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Franchise Bookings</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
        </div>
    </div>
    <div>

        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab *ngFor="let list of tabList " [label]="list.label">


                <div class="example-container mat-elevation-z8 mt-2">
                    <div *ngIf="active==true">
                        <mat-table [dataSource]="operationFranchiselist" matSort>

                            <ng-container matColumnDef="companyName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Company Name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="companyName" class="cursor-pointer"
                                    (click)="viewFranchiseactive(element)">
                                    <u>{{element.companyName}} </u>

                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="address">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-40">
                                    Address
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="address">
                                    <!-- <a routerlink='path'> -->
                                     {{element.address}}
                                    <!-- </a> -->
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="mobileNumber">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Mobile
                                    Number </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="emailId">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20">
                                    Email-ID</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="emailId"> {{element.emailId}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="yearOfContract">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Year
                                    Of Contract
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="yearOfContract">
                                    {{element.yearOfContract}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Action" class="cursor-pointer"
                                (click)=" viewFranchiseactive(element)"> {{element.Action}}
                                    <button mat-raised-button color="accent" (click)="update()">Inactivate</button>
                                </mat-cell>

                            </ng-container>
                            <mat-header-row *matHeaderRowDef="franchisedisplayColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: franchisedisplayColumns;">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>






                    <div *ngIf="followups==true">
                        <mat-table [dataSource]="operationFranchiselist" matSort>

                            <ng-container matColumnDef="role">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Role
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="role" class="cursor-pointer"
                                    (click)="viewBooking(element)">
                                    <u>{{element.role}} </u>

                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="creationDate">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-40">
                                    Request Date
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="mobileNumber">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Mobile
                                    Number</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Email
                                    ID
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="email"> {{element.email}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="message">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10">
                                    Message
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="message"> {{element.message}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="requestNumber">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10">
                                    Requested Number
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="requestNumber">
                                    {{element.requestNumber}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Action"> {{element.Action}}
                                    <button mat-raised-button color="accent" (click)="update()">Inactivate</button>
                                </mat-cell>

                            </ng-container>
                            <mat-header-row *matHeaderRowDef="franchisedisplayColumns1"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: franchisedisplayColumns1;">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>



                    <div *ngIf="onhold==true">
                        <mat-table [dataSource]="operationFranchiselist" matSort>

                            <ng-container matColumnDef="role">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Role
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="role" class="cursor-pointer"
                                    (click)="viewBooking(element)">
                                    <u>{{element.role}} </u>

                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="requestNumber">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-40">
                                    Request Number
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="requestNumber">
                                    {{element.requestNumber}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="mobileNumber">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Mobile
                                    Number</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Email
                                    ID
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="email"> {{element.email}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="cityName">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> City
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="cityName"> {{element.cityName}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="onHoldReason">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10">
                                    On-Hold Reason
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="onHoldReason"> {{element.onHoldReason}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="creationDate">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10">
                                    Requested Number
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="creationDate">
                                    {{element.creationDate}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Action"> {{element.Action}}
                                    <button mat-raised-button color="accent" (click)="update()">Inactivate</button>
                                </mat-cell>

                            </ng-container>
                            <mat-header-row *matHeaderRowDef="franchisedisplayColumns2"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: franchisedisplayColumns2;">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
