<!-- <div class="tw mt-4" style="width: 96%;"> -->
<mat-tab-group>
  <mat-tab label="Create Message">
    <!-- <h2 mat-dialog-title  style="text-align: center;">Create Message</h2> -->
    <mat-dialog-content>
     
         <form [formGroup]="messageForm"> 
           
            <mat-form-field>
                <label>Role Name</label>
              <input matInput required name="roleName"  class="form-control" formControlName="roleName">
               <mat-error *ngIf="hasError('roleName', 'required')">Role Name Required</mat-error>
             
               </mat-form-field>
       <br/>
            <mat-form-field>
                <label>Message Name</label>
              <input matInput required name="messageName"  class="form-control" formControlName="messageName">
               <mat-error *ngIf="hasError('messageName', 'required')">Message Name required</mat-error> 
              
            </mat-form-field>
            <br/>
       
            <mat-form-field>
                <label>Message</label>
              <input matInput required name="message" class="form-control" formControlName="message">
              <mat-error *ngIf="hasError('message', 'required')">Message required</mat-error>
             
            </mat-form-field>
           </form> 
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="item form-group mt-2 text-center">
        <button mat-raised-button style="margin-right:10px;background-color:#e83e8c;"  (click)="submit()">Submit</button>
         </div>
         </mat-dialog-actions>  
  </mat-tab>

<mat-tab label="Message Display">
<div class="example-container mat-elevation-z8">
  <table mat-table  [dataSource]="message" matSort >

    <ng-container matColumnDef="uuId">
      <mat-header-cell *matHeaderCellDef mat-sort-header > UuId </mat-header-cell>
      <mat-cell style="display:flex;overflow-wrap: anywhere;" *matCellDef="let element" data-label="uuId" class="cursor-pointer"> {{element.uuId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleId">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Role Id</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="roleId" > <p>{{element.roleId}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="messageName">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Message Name </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="messageName" > {{element.messageName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Message </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="message" > {{element.message}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header > isActive </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="isActive" > {{element.isActive}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Created Date </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="createdDate" > {{element.createdDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modifiedDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Modified Date </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="modifiedDate" > {{element.modifiedDate}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="action" >
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-40"> Action </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="action" >
        &nbsp; &nbsp; 
         <mat-slide-toggle  [checked]="element.isActive"  (click)="patchCompany(element.isActive,element.uuId,element.companyName)" ></mat-slide-toggle> 
         &nbsp;/&nbsp;
          <i class="fa fa-trash color-maroon fasize" (click)="deleteCompany(element.uuId,element.companyName)"></i> &nbsp;&nbsp;
      
    </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</mat-tab>
</mat-tab-group>





