.tw{
    margin-left: 2%;
    margin-right: 2%;
}
table{
    width:100%
}

.example-full-width {
    width: 31%;
    margin-left:10px;
    margin-right:10px;
  }

  mat-dialog-content{
    width: 1000px;
    
    margin-bottom:5px;
  }