<app-home *ngIf="screen == null"></app-home>
<app-tie-ups *ngIf="screen == tieupsScreen"></app-tie-ups>
<app-operation *ngIf="screen == operationScreen"></app-operation>
<div class="floating-action" *ngIf="isShow">
    <a id="scroll" class="btn btn-dark js-scroll-trigger text-white" (click)="gotoTop()">
        <i class="fa fa-angle-up"></i>
    </a>
</div>