<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Fleet Enquiry</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
        </div>
    </div>
    <div>
                      
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationFleetlist" matSort>

                        <ng-container matColumnDef="requestNumber">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Request Number </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="requestNumber" class="cursor-pointer" (click)="viewBooking(element)">
                             <u>{{element.requestNumber}} </u>
                                    
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="name">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mobileNumber">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Contact Number </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Email-ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="email"> {{element.email}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="message">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Message</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="message"> {{element.message}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Request Date</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-05"> Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="Action"> {{element.Action}} 
                                <button mat-raised-button color="accent" (click)="update()">VIEW</button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="fleetenquirydisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: fleetenquirydisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
    </div>
</div>

