<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Vehicle Request</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
        </div>
    </div>
    <div>
                      
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationVehiclerequestlist" matSort>

                        <ng-container matColumnDef="vehicleId">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Vehicle ID </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="vehicleId" >{{element.vehicleId}} </mat-cell>
                        </ng-container>

                        
                        <ng-container matColumnDef="registrationNumber">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Vehicle Number</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="registrationNumber"> {{element.registrationNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ownerName">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Owner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="ownerName"> {{element.ownerName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Vehicle Category</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="category"> {{element.category}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Request Date</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-05"> Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="Action"data-label="Action" class="cursor-pointer"
                            (click)="viewVehicle(element)"> {{element.Action}} 
                                <button mat-raised-button color="accent" (click)="update()">VIEW</button>
                            </mat-cell>
                        </ng-container>
                        
                        
                        <mat-header-row *matHeaderRowDef="vehiclerequestdisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: vehiclerequestdisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
    </div>
</div>


