<section id="disclaimer" class="section">
  <div class="container">
    <h1 class="text-center" mat-dialog-title>DISCLAIMER</h1>
    <hr class="seperator">

    <div class="row align-items-center justify-content-center">
      <div class="section-title">
        <h5 class="dark-color theme-after font-weight-bold align-justify">The information shown on this website is
          drafted by MMG with utmost care,
          however MMG is not liable for the correctness, topicality and completeness thereof. The information supplied
          on this website can be changed at any moment and without further notice. MMG is not liable for the
          consequences of the change(s) of this website.</h5>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-2">
      <p class="align-justify">
        MMG will not accept any liability for the faultless and uninterrupted functioning of this website. No rights
        can be derived from the data supplied on this website. MMG will not accept any liability for the content of
        this website and the thereupon supplied information. MMG is not liable for any direct- and/or indirect damage
        of any kind.
      </p>
      <p class="align-justify">
        Although MMG will make every effort to prevent abuse, MMG is not liable for information and/or messages which
        are sent by users of the website via internet. References to websites which are not maintained by MMG are only
        taken up as information for users. Although MMG is utmost careful with respect to websites to which is
        referred, MMG is not liable for the correctness, topicality and completeness thereof. Any liability with
        respect to websites which are not maintained by MMG is rejected.
      </p>
      <p class="align-justify">
        MMG, respectively the rightful claimant/holder, reserves all rights with respect to the information presented
        on this website, including, but not limited to texts, logo’s, trademarks, graphic material. The user of this
        website is not allowed to pass on information, to duplicate or to spread/circulate same, without the explicit
        and written consent of MMG.
      </p>
    </div>
  </div>
</section>