<div id="cover-spin" *ngIf="loading"></div>
<app-tieups-header></app-tieups-header>
<main>
    <div class="set-height p-100px-t p-sm-0px-t">
        <router-outlet></router-outlet>
    </div>
</main>
<app-home-footer></app-home-footer>