<div class="text-center login-modal-size">
  <h2 mat-dialog-title>Login</h2>
  <mat-dialog-content [formGroup]="form">
      <mat-form-field>
          <input matInput type="text" placeholder="Email / Mobile No" formControlName="userName"/>
          <mat-error *ngIf="hasError('userName', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
          <mat-error *ngIf="hasError('userName', 'pattern')">{{errorMsgs.USERNAME}}</mat-error>
          <mat-error *ngIf="hasError('userName', 'maxlength')">{{errorMsgs.MAX_LENGTH}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="hide ? 'text' : 'password'"  placeholder="Password" formControlName="password"/>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        
        <mat-error *ngIf="hasError('password', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
    </mat-form-field>
      <!-- <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password"/>
          <mat-error *ngIf="hasError('password', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
      </mat-form-field> -->
  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
      <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="login()">
          Login
      </button>
      <button mat-raised-button class="color-button-close text-white" (click)="close()">
          Close
      </button>&nbsp;
  </mat-dialog-actions>
</div>
<div class="mmg-theme align-bottom">
  <span class="cursor-pointer" (click)="forgotPassword()">Forgot Password?</span>
</div>
