<div class="popup-modal-size">
    <h1 mat-dialog-title class="text-center">{{title}}</h1>
    <mat-dialog-actions class="pull-right">
      <button mat-raised-button color="accent" (click)="save()">
        {{Button}}
      </button>
      <button mat-raised-button class="color-button-close text-white" (click)="close()">
        Close
      </button>&nbsp;
    </mat-dialog-actions>
  </div>
