<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Labour Request</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
        </div>
    </div>
    <div>
                      
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationLabourrequestlist" matSort>

                        <ng-container matColumnDef="labourId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Labour ID </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="labourId" class="cursor-pointer" (click)="viewBooking(element)">{{element.labourId}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="firstName">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="firstName"> {{element.firstName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dob">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Date Of Birth </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="dob"> {{element.dob}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mobileNumber">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Mobile Number</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cityName">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Address</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="cityName"> {{element.cityName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Request Date</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-05"> Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="Action" class="cursor-pointer" click="viewLabour(element)"> {{element.Action}} 
                                <button mat-raised-button color="accent" (click)="update()">VIEW</button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="driverrequestdisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: driverrequestdisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
    </div>
</div>


