<footer class="footer footer-dark mt-4">
    <section class="footer-section">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-12 col-md-12 col-sm-12 px-0">
                    <p>&copy; <a class="text-white" target="_blank" href="http://www.arohaka.com/">Copyrights 2019. All
                            Rights
                            Reserved by Arohaka</a></p>
                </div>
            </div>
        </div>
    </section>
</footer>