<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Total Warehouses</span><span class="float-right font-weight-bold" *ngIf="totalwarehouseCount">{{totalwarehouseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationWarehouseenquiry']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Active Warehouses</span><span class="float-right font-weight-bold" *ngIf="activewarehouseCount">{{activewarehouseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationWarehouseenquiry']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Inactive Warehouses</span><span class="float-right font-weight-bold" *ngIf="totalwarehouseCount">{{totalwarehouseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationWarehouseenquiry']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
