<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchises</span><span class="float-right font-weight-bold" *ngIf="franchiseCount">{{franchiseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationalFranchise']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet Operators</span><span class="float-right font-weight-bold" *ngIf="fleetCount">{{fleetCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFleet']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Warehouses</span><span class="float-right font-weight-bold" *ngIf="warehouseCount">{{warehouseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationWarehouse']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Total Enquiry Requests</span><span class="float-right font-weight-bold" *ngIf="totalenquiryCount">{{totalenquiryCount.total}}</span></div>
                    <div class="card-body text-center cursor-pointer" [routerLink]="['/operationEnquiry']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                     </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Bookings</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-dolly color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div> -->
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Customers</span><span class="float-right font-weight-bold" *ngIf="customerCoun">{{customerCoun.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationCustomer']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Bidding</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoDriverList']">
                    <h1><i class="fas fa-chart-bar color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
</div>> -->


