<mat-tab-group>
  <mat-tab label="Excel Upload and Download">
    <div class="tw mt-4" style="width: 96%;">

      <h1 class="text-center" mat-dialog-title>Excel Upload and Download</h1>

      <hr class="seperator">
      <form [formGroup]="fileForm" enctype="multipart/form-data">
        <input type="file" accept=".xlsx" formControlName="file" (change)="onChange($event)">

        <button (click)="onUploadClick()" class="btn btn-success">
          Upload
        </button>

      </form>
    </div>
  </mat-tab>
  <mat-tab label="Image Upload and Image">
    <h1 class="text-center" mat-dialog-title>Image Upload and Download</h1>
    <hr class="seperator">

    <input type="text" [(ngModel)]="path">
    <label> Image File Path </label>

    <br>
    <input type="text" [(ngModel)]="imagePath">
    <button (click)="downloadImage()"> Download </button>

    <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input #imageInput type="file" accept="image/*" (change)="image($event)">
    </label>
    <button (click)="uploadImage()" class="btn btn-success">
      Upload
    </button>

   
    <div class="tw mt-4" style="width: 80%;">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="registration" matSort>

          <ng-container matColumnDef="uuId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> uuId </mat-header-cell>
            <mat-cell style="display:flex;overflow-wrap: anywhere;" *matCellDef="let element" data-label="uuId"
              class="cursor-pointer"> {{element.uuId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="imageType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> imageType </mat-header-cell>
            <mat-cell style="display:flex;overflow-wrap: anywhere;" *matCellDef="let element" data-label="imageType"
              class="cursor-pointer"> {{element.imageType}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="imageName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> imageName </mat-header-cell>
            <mat-cell style="display:flex;overflow-wrap: anywhere;" *matCellDef="let element" data-label="imageName"
              class="cursor-pointer"> {{element.imageName}} </mat-cell>
          </ng-container>

                    <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef mat-sort-header> image </mat-header-cell>
            <mat-cell style="display:flex;overflow-wrap: anywhere;" *matCellDef="let element" data-label="image"
              class="cursor-pointer"> <img src="data:image/jpeg;base64,{{element.image}}" width="100" height="100"> </mat-cell>
          </ng-container>
          <!--data:image/jpeg;base64,{{element.image}} domsani.bypssSecurityTrustUrl('data:image/jpeg;base64,+{{element.image}}')"  -->
          <ng-container matColumnDef="action">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-40"> Action </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="action">

              <div class="cursor-pointer" matTooltip="Modify / Cancel ">
                <button class="btn btn-success" (click)="downloadImage(element.uuId)">Download</button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    </mat-tab>
</mat-tab-group>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>