<div class="container mt-4">
  <h1 class="text-center" mat-dialog-title>Driver Request</h1>
  <hr class="seperator">
  <form [formGroup]="bookForm" class="ml-2 mt-2">
    <div class="row no-gutters">
      <div class="col mr-2">
        <label class="font-weight-bold">Driver ID</label>
        <mat-form-field class="mat-display-block">
          <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
            formControlName="bookingId" placeholder="Driver ID">
          <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
        </mat-form-field>
      </div>
      <div class="col mr-2">
        <label class="font-weight-bold">First Name</label>
        <mat-form-field class="mat-display-block">
          <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
            formControlName="customerName" placeholder="First Name">
          <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
        </mat-form-field>
      </div>
      <div class="col mr-2">
        <label class="font-weight-bold">Last Name </label>
        <mat-form-field class="mat-display-block">
          <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
            formControlName="mobileNumber" placeholder="Last Name">
          <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
        </mat-form-field>
      </div>

      <div class="row no-gutters">
        <div class="col mr-2">
          <label class="font-weight-bold">Mobile Number</label>
          <mat-form-field class="mat-display-block">
            <input matInput type="text" class="form-control" [readonly]="true" name="source" formControlName="source" placeholder="Mobile Number">
            <mat-error *ngIf="hasError('source', 'required')">Field is Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col mr-2">
          <label class="font-weight-bold">Email Id</label>
          <mat-form-field class="mat-display-block">
            <input matInput type="text" class="form-control" [readonly]="true" name="destination"
              formControlName="destination" placeholder="Email-ID">
            <mat-error *ngIf="hasError('destination', 'required')">Field is Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col mr-2">
          <label class="font-weight-bold">Pincode</label>
          <mat-form-field class="mat-display-block">
            <input matInput type="text" class="form-control" [readonly]="true" name="source" formControlName="source" placeholder="Pincdoe">
            <mat-error *ngIf="hasError('source', 'required')">Field is Required</mat-error>
          </mat-form-field>
        </div>

        <div class="row no-gutters">
          <div class="col mr-2">
            <label class="font-weight-bold">State</label>
            <mat-form-field class="mat-display-block">
              <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                formControlName="bookingId" placeholder="State">
              <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col mr-2">
            <label class="font-weight-bold">City</label>
            <mat-form-field class="mat-display-block">
              <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                formControlName="customerName" placeholder="City">
              <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col mr-2">
            <label class="font-weight-bold">Address</label>
            <mat-form-field class="mat-display-block">
              <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                formControlName="mobileNumber" placeholder="Address">
              <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
            </mat-form-field>
          </div>

          <div class="row no-gutters">
            <div class="col mr-2">
              <label class="font-weight-bold">DL Number</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                  formControlName="bookingId" placeholder="DL Number">
                <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col mr-2">
              <label class="font-weight-bold">DL Expire Date</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                  formControlName="customerName" placeholder="DL Expire Date">
                <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col mr-2">
              <label class="font-weight-bold">Issued RTO</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                  formControlName="mobileNumber" placeholder="Issued Rto">
                <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
          

          <div class="row no-gutters">
            <div class="col mr-2">
              <label class="font-weight-bold">License Category</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                  formControlName="bookingId" placeholder="License">
                <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col mr-2">
              <label class="font-weight-bold">Badge Number</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                  formControlName="customerName" placeholder="Badge number">
                <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col mr-2">
              <label class="font-weight-bold">Badge Expire Date</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                  formControlName="mobileNumber">
                <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
          

          <div class="row no-gutters">
            <div class="col mr-2">
              <label class="font-weight-bold">Company Name </label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                  formControlName="bookingId">
                <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col mr-2">
              <label class="font-weight-bold">Company Address</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                  formControlName="customerName">
                <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col mr-2">
              <label class="font-weight-bold">Driver Type</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                  formControlName="mobileNumber">
                <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
              </mat-form-field>
            </div>


            <div class="row no-gutters">
              <div class="col mr-2">
                <label class="font-weight-bold">Blood Group</label>
                <mat-form-field class="mat-display-block">
                  <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                    formControlName="bookingId">
                  <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
                </mat-form-field>
              </div>
              <div class="col mr-2">
                <label class="font-weight-bold">Height</label>
                <mat-form-field class="mat-display-block">
                  <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                    formControlName="customerName">
                  <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
                </mat-form-field>
              </div>
              <div class="col mr-2">
                <label class="font-weight-bold">Weight </label>
                <mat-form-field class="mat-display-block">
                  <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                    formControlName="mobileNumber">
                  <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
                </mat-form-field>
              </div>


              <div class="row no-gutters">
                <div class="col mr-2">
                  <label class="font-weight-bold">Identification Marks</label>
                  <mat-form-field class="mat-display-block">
                    <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                      formControlName="bookingId">
                    <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col mr-2">
                  <label class="font-weight-bold">Aadhar Number</label>
                  <mat-form-field class="mat-display-block">
                    <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                      formControlName="customerName">
                    <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col mr-2">
                  <label class="font-weight-bold">Pan Number</label>
                  <mat-form-field class="mat-display-block">
                    <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                      formControlName="mobileNumber">
                    <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
                  </mat-form-field>
                </div>


                <div class="row no-gutters">
                  <div class="col mr-2">
                    <label class="font-weight-bold">Account Number</label>
                    <mat-form-field class="mat-display-block">
                      <input matInput type="text" class="form-control" [readonly]="true" name="bookingId"
                        formControlName="bookingId">
                      <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col mr-2">
                    <label class="font-weight-bold">Bank Name</label>
                    <mat-form-field class="mat-display-block">
                      <input matInput type="text" class="form-control" [readonly]="true" name="customerName"
                        formControlName="customerName">
                      <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col mr-2">
                    <label class="font-weight-bold">IFSC Code</label>
                    <mat-form-field class="mat-display-block">
                      <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber"
                        formControlName="mobileNumber">
                      <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="item form-group mt-2 text-center" *ngIf="scheduleFlag==true">
                    <button mat-raised-button class="color-button-assign text-white" (click)="assignedBooking()">Assign</button> &nbsp;/&nbsp;
                    <button mat-raised-button class="color-button-close text-white" (click)="fieldCheck()">Update</button> &nbsp;/&nbsp;
                    <button mat-raised-button class="color-button-cancel text-white" (click)="cancelBooking()">Back</button>
                  </div>
                </div>
                <div class="item form-group mt-2 text-center" *ngIf="scheduleFlag==true">
                  <button mat-raised-button class="color-button-assign text-white" (click)="assignedBooking()">Assign</button> &nbsp;/&nbsp;
                  <button mat-raised-button class="color-button-close text-white" (click)="fieldCheck()">Update</button> &nbsp;/&nbsp;
                  <button mat-raised-button class="color-button-cancel text-white" (click)="cancelBooking()">Back</button>
                </div>
                