<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Warehouse</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
        </div>
    </div>
    <div>
        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab *ngFor="let list of tabList " [label]="list.label">
               
                
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationWarehouseactivelist" matSort>

                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Warehouse ID </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="id" class="cursor-pointer" (click)="viewBooking(element)">
                             <u>{{element.id}} </u>
                                    
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="companyName">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Company Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="companyName"> {{element.companyName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mobileNumber">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Mobile Number </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="emailId">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Email-ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="emailId"> {{element.emailId}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="yearOfContract">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Year Of Contract</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="yearOfContract"> {{element.yearOfContract}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="Action"> {{element.Action}} </mat-cell>

                        </ng-container>
                        <mat-header-row *matHeaderRowDef="warehousedisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: warehousedisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>