<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchises</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoDriverList']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet Operators</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Warehouses</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Total Enquiry Requests</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Operation Team</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-user-plus color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Insurance </span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoLabourList']">
                    <h1><i class="fas fa-piggy-bank color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
    </div>
   <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Bidding</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoDriverList']">
                    <h1><i class="fas fa-chart-bar color-accent fa-2x"></i></h1>
                 </div>
            </div>
        </div>
</div>


<!-- 
 <li class="m-dropdown m-dropdown-multilevel">
    <a class="nav-link cursor-pointer">Onboarding </a>
    <ul class="m-dropdown-menu">
        <li>
            <a [routerLink]="['/financeForecastView']">Franchise Enquiries</a>
        </li>
        <li>
            <a [routerLink]="['/fareView']">Fleet Enquiries</a>
        </li>
        <li>
            <L>Warehouse Enquiries</a>
        </li>
        <li>
            <a [routerLink]="['/fareView']">Driver Registration</a>
        </li>
        <li>
            <a [routerLink]="['/fareView']">Vehicle Registration</a>
        </li>
        <li>
            <a [routerLink]="['/fareView']">Labour Registration</a>
        </li>
    </ul>
</li>
<li>
    <a class="nav-link" [routerLink]="['/ownerDashboard']">Franchises</a>
</li>
<li>
    <a class="nav-link" [routerLink]="['/ownerDashboard']">Operation Team</a>
</li> -->